<template>
    <tr>
        <td class="align-middle">{{author}}</td>
        <td class="align-middle">{{email}}</td>

        <td class="align-middle">
            <p class="mb-0" v-if="!isEditing" >{{ _message }}</p>
            <input v-else v-model="_message"/>
            <div v-if="_isEditedAdmin" class="blockquote-footer">отредактировано администратором</div>
        </td>

        <td class="align-middle">
            <span v-if="!isEditing">{{_status}}</span>
            <select v-else v-model="_status" :disabled="!isEditing">
                <option>Создано</option>
                <option>В процессе</option>
                <option>Выполнено</option>
            </select>
        </td>

        <td class="align-middle">
            <button type="button" class="btn btn-outline-success" @click="editMode" v-if="isAdmin && !isEditing">Правка</button>
            <button type="button" class="btn btn-outline-success" @click="updateField" v-if="isAdmin && isEditing">Сохранить</button>
        </td>
    </tr>
</template>

<script lang="ts" src="./task-element.ts"></script>

<style scoped>

</style>