<template>
   <div class="container">
   <div class="spinner-grow text-success" v-if="!isLoaded">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="container" v-else>
    <table class="table table-striped table-sm">
    <thead>
    <tr>
        <th scope="col">name</th>
        <th scope="col">e-mail</th>
        <th scope="col">text</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
        <td scope="col"><input v-model="newName" type="text"/></td>
        <td scope="col"><input v-model="newMail" type="text"/></td>
        <td scope="col"><input v-model="newText" type="text"/></td>
        <td scope="col"><button class="btn btn-primary" @click="createTask">Добавить</button></td>
    </tbody>
    </table>
    <div class="alert alert-danger" role="alert" v-if="failMessage !== ''">
        {{failMessage}}
    </div>
    <table class="table table-striped table-sm">
    <thead>
    <tr>
        <th scope="col" @click="changeSort('author')">name <i v-bind:class="sortableClasses('author')"></i></th>
        <th scope="col" @click="changeSort('email')">e-mail <i v-bind:class="sortableClasses('email')"></i></th>
        <th scope="col">text</th>
        <th scope="col" @click.self="changeSort('status')">Статус <i v-bind:class="sortableClasses('status')"></i></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
        <task-element v-for="task in tasks" :id="task.id" :author="task.author" :email="task.email" :message="task.message" :status="task.status" :isEditedAdmin="task.isEditedAdmin" />
    </tbody>
    </table>
    <nav aria-label="Page navigation example" v-if="pages>1">
        <ul class="pagination">
            <li class="page-item" v-if="currentPage>1">
                <button class="page-link" aria-label="Previous" @click="goTo(currentPage-1)">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Назад</span>
                </button>
            </li>
            <li v-bind:class="{ 'page-item': true, 'active': page===currentPage }" @click="goTo(page)" v-for="page in pages">
                <button class="page-link">{{page}}</button>
            </li>
            <li class="page-item" v-if="currentPage !== pages">
                <button class="page-link" aria-label="Next" @click="goTo(currentPage+1)">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Вперёд</span>
                </button>
            </li>
        </ul>
    </nav>
    </div>
    </div>
</template>

<script lang="ts" src="./list-component.ts"></script>

<style scoped>

</style>