<template>
    <div class="container">
    <div v-bind:class="popupState()" id="authForm" tabindex="-1" role="dialog" aria-labelledby="authFormLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Авторизация</h5>
                    <button type="button" @click="close" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Логин:</label>
                            <input type="text" v-model="login" class="form-control" id="recipient-name">
                        </div>
                        <div class="form-group">
                            <label for="recipient-password" class="col-form-label">Пароль:</label>
                            <input type="password" v-model="password" class="form-control" id="recipient-password">
                        </div>
                    </form>
                </div>
                <div class="alert alert-danger" role="alert" v-if="failMessage !== ''">
                    {{failMessage}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @click="close">Закрыть</button>
                    <button type="button" class="btn btn-primary" @click="logining">Войти</button>
                </div>
            </div>
        </div>
    </div>
        <div class="d-flex flex-row-reverse bd-highlight p-2">
            <button type="button" class="btn btn-primary" v-if="!isLogining" @click="openLogin" data-toggle="modal" data-target="#authForm">Войти</button>
            <button type="button" class="btn btn-danger float-right" v-else @click="logout">Выйти</button>
        </div>
    </div>
</template>

<script lang="ts" src="./auth-component.ts"></script>

<style scoped>

</style>