<template>
    <div class="container">
        <auth-component/>
        <list-component/>
    </div>
</template>

<script lang="ts">
    import { Vue, Component } from 'vue-property-decorator'
    import ListComponent from './components/list-component/list-component.vue';
    import AuthComponent from './components/auth-component/auth-component.vue';
    @Component({name: 'app-todo', components: {ListComponent, AuthComponent}})
    export default class App extends Vue {}
</script>

<style scoped>

</style>
